<div class="edit-bookmark-wrapper">
  <p *ngIf="!bookmark">Bookmark not found</p>
  <ng-container *ngIf="bookmark">
    <h2 class="is-bold">{{bookmark.name}}</h2>
    <form #editBookmark="ngForm" ngNativeValidate (ngSubmit)="onSubmit(editBookmark)">

      <div class="form-field">
        <label for="name" class="form-label">Name</label>
        <input 
          class="textbox" 
          type="text" 
          name="name" 
          id="name" 
          [ngModel]="bookmark.name" 
          placeholder="e.g. Wikipedia"
        >
      </div>

      <div class="form-field">
        <label for="url" class="form-label">URL</label>
        <input 
          class="textbox" 
          type="url" 
          name="url" 
          id="url" 
          [ngModel]="bookmark.url"
          placeholder="e.g. https://wikipedia.com" 
          required
        > 
      </div>

      <div class="btns-container">
        <a routerLink="../" class="btn">Cancel</a>
        <button type="button" class="btn" (click)="deleteBookmark()">Delete</button>
        <button type="submit" class="btn align-end">Save</button>
      </div>

    </form>
  </ng-container>
  
</div>