<div class="add-todo-wrapper container has-blurred-white-bg">
  <h2 class="is-bold">Add Todo</h2>
  <form #addTodoForm="ngForm" (ngSubmit)="onSubmit(addTodoForm)">
    <div class="form-field">
      <input 
        type="text" 
        class="textbox" 
        ngModel 
        name="text" 
        #todoText="ngModel"
        placeholder="Enter todo text..." 
        required 
        minlength="3"
      >
      <ng-container *ngIf="showValidationErrors && todoText.invalid">
        <p *ngIf="todoText.errors?.['required']">Please enter some text for this todo...</p>
        <p *ngIf="todoText.errors?.['minlength']">The todo text must be at least 3 characters...</p>
      </ng-container>
    </div>

    <div class="btns-container">
      <a routerLink="../" class="btn">Cancel</a>
      <button class="btn align-end">Create Todo</button>    
    </div>
 
  </form>
</div>